@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

                   
:root{    
   --accent: #7697c7;
   --light: #e6f1ff;
   --lighttext:#8892b0; 
   --dark: #0a192f;
   --overlaystart: rgba(100,175,192,.9);
   --overlayend:rgba(40,82,91,.7);
   --ease: all  0.3s ease 0s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1, i {
    color: var(--light);
}

p, a {
    color: var(--lighttext);
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 72px;
    font-weight: 300;

}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "top";

}

.top {
    grid-area: top;
    display: grid;
    grid-template-columns: 1fr 600px 600px 1fr;
    grid-gap: 20px;
    grid-template-areas: 
    ". top_content top_profile ."

}

.top_content{
    grid-area: top_content;
    align-self: center;
    justify-self: center;
    padding :10px;
}

.underline{
    text-decoration: none;
    position: relative;
}

.underline:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    border-width: 1.5px;
    border-style: solid;
    color: var(--acent);
    animation-name: underline;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes underline{
    0%{width: 0;}
    100%{width: 100%;}
}


.social_item{

    position: relative;
    width: 166px;
    height: 25px;
}


/* jf. */

.logo {
position: absolute;
width: 107px;
height: 41px;
left: 62px;
top: 34px;

font-family: Work Sans;
font-style: normal;
font-weight: 300;
font-size: 80px;
line-height: 94px;
color: var(--light);

}

.top_profile{
    grid-area: top_profile;
}


